[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kowc
[access "refs/for/refs/*"]
	read = group user/kowc
	push = group user/kowc
	label-Code-Review = -2..+2 group user/kowc
	label-Verified = -1..+1 group user/kowc
	rebase = group user/kowc
	removeReviewer = group user/kowc
	submit = group user/kowc
[access "refs/heads/*"]
	read = group user/kowc
	create = group user/kowc
	push = +force group user/kowc
	pushMerge = group user/kowc
[access "refs/tags/*"]
	push = group user/kowc
	push = +force group user/kowc
